<template>
  <div>
  <div class="nav">

    <b-navbar class="fixed-top" toggleable="lg" type="dark" variant="dark">

    <b-navbar-brand nuxt-link to="/">Flame Product</b-navbar-brand>


    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item nuxt-link to="/about">About</b-nav-item>
        <b-nav-item nuxt-link to="/shop">Shop</b-nav-item>
	<b-nav-item nuxt-link to="/reviews">Reviews</b-nav-item>
        <b-nav-item nuxt-link to="/faq">FAQ</b-nav-item>
	<b-nav-item nuxt-link to="/contact">Contact</b-nav-item>
 </b-navbar-nav>
    </b-collapse>
  </b-navbar>

</nav></div>
    <div>
    <Nuxt />
  </div>
  <footer class="footer">
        <div class="container">
            <span>&copy; 2020 Flame Product</span>
        </div>
    </footer>
</div>
</template>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 22px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding-top: 70px;
  padding-left: 150px;
  text-allign: center;
  padding-bottom: 25px;
  text-align: justify;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 2px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
</style>
