<template>
  <div class="container">
    <div>
      <h1 class="title">
        Flame Product
      </h1>
      <p>
        People throughout the world have found success and happiness through using Flame products.

Here is some recent feedback from around the world.

Brian writes…

I just want to thank-you for creating your series of CD's. Just prior to Christmas time I was extremely ill (due to stress in my life). I purchased your CD "Stress Free" from the local branch of "Whitcoulls" and I'm amazed at how relaxed and peaceful I feel after listening to your CD... Once again I just want to thank you for your efforts in developing your "Flame Affirmation" CD's and look forward to purchasing the other 2 in the series. Thanx

Darryl from Australia writes...

I would like to know where I can purchase the CD's in Australia. I listened to the sample on abundance and prosperity, and opened my mind. I have just been recently made redundant, and have been waiting on a job reply, plus I have been having a hassle with my former employer on money they owe me!

Within a hour of listening to the sample I received a phone call from the position I applied for and was told that I had the job. PLUS at the same time my wife received a call at work from the union saying that my former employer will pay the money they owe me!!! I don’t know whether it is coincidence but it worked for me!! I thank you very much and I can’t wait for the CD's. Darryl PS It is all true!

Carol writes...

Good morning Rebekh i trust you are well, as i write, the CD "abundance & prosperity" is playing on my pc, ever since i first heard it at the MCC Mall [Whitcoull's] on Saturday last [27/5/00], it has inspired me, as it did also, meeting you , we are told nothing happens 'by chance' there's a 'cosmic force' behind 'coincidences',s of added interest, my feeling of wellbeing on this new Monday, is notable for me! i would like to believe this amazing CD has a part to play i wish you all success in the world have a GR8! and a safe week blessings and miracles love and light

Hannah from Auckland, NZ writes..

I have been using your “Stress Free” CD for several weeks now and I am very impressed with the quality of the product. I have recommended it to my co-workers, friends and family. I am interested to hear the rest of the series. Congratulations on such a great product. Sincerley, Hannah

Stephanie, Auckland Naturopath writes.....

Flame Affirmations acknowledge our being in the world, igniting our passion to achieve in concrete, the genius that resides in our higher being. Stephanie Nossiter, Naturopath & Lifestyle Consultant.

Joanne Gair, Los Angeles writes.....

Dear Rebeckh, My career as a bodypainter and make-up artist is known to be full-on and ever challenging. Between my schedule and the hectic pace of Los Angeles and New York, I have been using these tapes to soothe and re-energize my mind and soul. They have been accompanying me on all of my frequent Airplane trips and in my car in Los Angeles. I find your caring voice, positive messages and the accompanying music to be very uplifting. The messages are full of positive wisdom and reassurance to keep ones focus and faith positive. I recommend them to everyone. Best Regards, Joanne Gair.

Andrea Molloy, Life Coach writes....

Dear Rebeckh, I recently purchased your title; Thought Miracles, Affirmations to ignite your future. I’ve found it incredibly useful and am constantly recommending it to my own personal coaching clients. Kind Regards, Andrea Molloy

Sean from Australia writes....

Hi Rebeckh, My name is Sean and I found your cd's after reading your ad in a magazine in New Zealand while I was holiday from Sydney. I specifically have been looking for something like this for 10 years! I love it and bought them all ! I look forward to your next one's. I have done affirmations for years but have looked for something like yours for a long time. Kind Regards Sean Fogarty

Harvey USA, writes..

Hello Rebeckh Thankyou for your enjoyable and innovative creations. Just from a taste of your audio sample you have captured my respect as a mentor. Cheers, Harvey

Heather Rogers of Wellington writes....

I have recently returned to New Zealand after working and travelling in the UK for almost four years (and, might I add, its great to be home). However, since my arrival only six weeks ago, I have made some pretty life-changing decisions. I have split up with my partner of four and a half years and, even though I’m 37 years old with a ticking body clock, I’ve decided to settle in Wellington where I know very few people (as opposed to Auckland where more of my friends are). Your feature on Rebeckh burns and her positive affirmations was a great read (Of Course You Can’, June 2003). I will certainly be investing in her book. I’m not normally into these ‘self-help’ titles but at this point in my life I need all the help I can get to stop me panicking that I’m going to be left on the spinster shelf with a mountain of dust on my shoulders! I have come to realise it’s a big scary world out there, but with Kiwis being the friendly bunch they are and with Next magazine featuring such inspiring articles, I’m managing to maintain a positive and ‘carpe diem’ attitude whilst I handle job hunting/rejection, wander into bars and cafés on my own, and acquaint myself with clubs etc in order to meet new like-minded people. Thanks you, Next. Please keep up the inspiration for us 30-somethings in singledom.

©
</p>

      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
